* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul, li {
    list-style: none;
}

.genre {
    padding-top: 30px;
    margin-left: 100px;
}

.genre h1 {
    margin-left: 300px;
}

.genre_nav ul {
    text-align: center;
    position: relative;
    width: 1000px;
    height: 50px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
    margin-top: 50px;
    line-height: 45px;
    margin-left: 300px;
}

.genre_nav ul a {
    width: 300px;
    height: 70px;
    margin-left: 50px;
    font-weight: bold;
    text-align: center;
}

.genre_nav ul a:first-child {
    font-size: x-large;
    color: darkgreen;
}

h3{
    font-size: 25px;
    margin-top: 40px;
    margin-left: 300px;
}

img{
    width: 170px;
    height: 130px;
}

.main_box{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}

.img{
    margin-top: 40px;
    margin-left: 200px;
}

.img_1{
    display: flex;
    justify-content: space-around;
}

.img_box{
    width: 180px;
    height: 180px;
    border: 2px solid rgb(156, 151, 151);
    text-align: center;
    transition: 1s;
    
}

.img_box img{
    padding-top: 5px;
}

.img_box p{
    border-top: 2px solid rgb(104, 104, 104);
    line-height: 30px;
    font-weight: bold;
    height: 30px;
    margin-top: 5px;
    
}

.img_box:hover{
    background-color: rgb(207, 209, 209);
    transition: 0.5s;
}
