*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    margin: 0 auto;
    width: 1300px;
}

ul{
    list-style: none;
}

.con{
    
    
    
}

h3{
    font-size: 25px;
}

img{
    width: 170px;
    height: 130px;
}

.main_box{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}

.left_main{
    width: 600px;
    
}

.img{
    margin-top: 20px;
}

.img_1{
    display: flex;
    justify-content: space-around;
    
}

.img_2{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}

.img_box{
    width: 180px;
    height: 180px;
    border: 2px solid rgb(156, 151, 151);
    text-align: center;
    transition: 1s;
    
}

.img_box img{
    padding-top: 5px;
}

.img_box p{
    border-top: 2px solid rgb(104, 104, 104);
    line-height: 30px;
    font-weight: bold;
    height: 30px;
    margin-top: 5px;
    
}

.img_box:hover{
    
    background-color: rgb(207, 209, 209);
    transition: 0.5s;
}


.charta{
    border: 1px solid black;
    border-bottom: 0px;
    margin-top: 20px;
}

.charta h3{
    border-bottom: 1px solid black;
    font-size: 30px;
    text-align: center;
    color: rgb(22, 160, 133);
}

.charta li:hover{
    background-color: rgb(41, 211, 177);
    transition: 0.5s;
}

.charta li{
    border-bottom: 1px solid black;
    font-weight: bolder;
    font-size: 20px;
    line-height: 45px;
    height: 45px;
    width: 350px;
    padding-left: 5px;
    transition: 1s;
}